.section__hero {
  background: rgb(53, 126, 254);
  background: linear-gradient(
    174deg,
    rgba(53, 126, 254, 1) 63%,
    rgba(255, 255, 255, 1) 63%
  );
  padding: 58px 0 80px;
}

.hero__items {
  display: flex;
  justify-content: space-between;
}

.hero__items_partners {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero__items_partners a {
  max-width: 345px;
}

.hero__items_partners h1 {
  max-width: 580px;
  font-family: "Inter";
  font-size: 35px;
  font-weight: 800;
  color: var(--color-secondary);
}
.hero__items_laptop {
  max-width: 1039px;
}

.items_partners_img {
  padding-top: 40px;
}

.section__analysis {
  background-color: var(--color-secondary);
}

.analysis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
  gap: 20px;
  flex-wrap: wrap;
}

.analysis__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1240px) {
  .section__hero {
    background: linear-gradient(
      174deg,
      rgba(53, 126, 254, 1) 72%,
      rgba(255, 255, 255, 1) 72%
    );
    padding: 58px 0 100px;
  }

  .hero__items_partners h1 {
    font-size: 30px;
  }

  .items_partners_img {
    padding-top: 20px;
  }
}

@media (max-width: 1040px) {
  .hero__items_laptop {
    display: none;
  }

  .section__hero {
    background: linear-gradient(
      174deg,
      rgba(53, 126, 254, 1) 78%,
      rgba(255, 255, 255, 1) 78%
    );
    padding: 20px 0 100px;
  }
}
