.container {
  max-width: 1392px;
  padding: 0 20px;
  margin: 0 auto;
}
.rates__block {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 369px);
  grid-template-rows: 507px;
  gap: 25px;
}

.section__rates {
  background: var(--color-secondary);
}

.section__graphs {
  background: var(--color-secondary);
}

.graphs__items {
  padding: 60px 0 70px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.graph_img_cost {
  position: absolute;
  left: 192px;
  top: 108px;
}

@media (max-width: 640px) {
  .rates__block {
    grid-template-columns: repeat(auto-fit, 328px);
  }
}
