* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  height: 100vh;
  background: #fafafa;
  color: #000000;
}

.container {
  max-width: 1392px;
  padding: 0 20px;
  margin: 0 auto;
}
.rates__block {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 369px);
  /* grid-template-columns: repeat(auto-fit, minmax(328px, 1fr)); */
  /* grid-template-columns: [first] 369px [second] 369px [third] 369px; */

  grid-template-rows: 507px;
  gap: 25px;
}

.rates__block_item {
  display: grid;
  grid-template-rows: [first] 45px [second] 150px [third] 165px [fourth] 50px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 32px rgba(78, 93, 124, 0.16);
  padding: 48px 40px;
  cursor: pointer;
}
.rates__block_item:hover {
  color: #fff;
  background-color: #357efe;
}
.rates__block_item:hover > .item__title p {
  color: #ffffffa9;
}

.rates__block_item:hover > .item__price p {
  color: #fff;
}
.rates__block_item:hover > .btn__link {
  background-color: #fff;
}

.rates__block_item:hover > .item__price div {
  border-bottom: 1px solid #ffffff37;
}
.rates__block_item:hover > .item__price div:last-child {
  border-bottom: none;
}

.rates__block_item:hover > .btn__link a {
  color: #357efe;
}
.retes__title {
  text-align: center;
  margin-bottom: 40px;
}
.retes__title h2 {
  margin-bottom: 24px;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 600;
}
.retes__title p,
.item__title p {
  font-family: "Inter";
  font-size: 17px;
  font-weight: 500;
  color: #4e5d7c80;
}
.item__title h3 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 16px;
}
.item__title p {
  /* margin-bottom: 16px; */
}
.item__title {
  /* margin-bottom: 50px; */
  grid-row: second / third;
}

.price {
}
.title_card {
  /* margin-top: 42px; */
  /* grid-row: second / third; */
}
.item__sale {
  max-width: 125px;
}
.item__sale div {
  text-align: center;

  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  /* width: 100%; */
  background: #1abc9c;
  padding: 6px 16px;
  border-radius: 8px;
}
.item__sale span {
  font-weight: 800;
}
.item__price p {
  color: #4e5d7c;
  font-family: "Inter";
  font-size: 17px;
  font-weight: 500;
}

.item__price {
  display: grid;
  gap: 8px;
  margin-bottom: 40px;
  grid-row: third / fourth;
}
.item__price div {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 108px;
  border-bottom: 1px solid #4e5d7c14;
  padding-bottom: 8px;
}

.item__price div:last-child {
  border-bottom: none;
  margin-bottom: -8px;
}
.item__price .price_benefit {
  text-align: center;
  border-radius: 8px;
  background: #ffc736;
  padding: 8px 16px;
  color: #fff;
  font-weight: 700;
  width: 107px;
  height: 36px;
}
.item__price_cost,
.price_benefit {
  justify-self: center;
}

.btn__link {
  text-align: center;
  border-radius: 47px;
  background: #357efe;
  padding: 12px 24px;
  grid-row: fourth;
}

.btn__link a {
  color: #fff;
  font-family: "Inter";
  font-size: 17px;
  font-weight: 800;
}

@media (max-width: 640px) {
  .rates__block_item {
    padding: 48px 24px;
  }
  .rates__block {
    grid-template-columns: repeat(auto-fit, 328px);
  }
}

@media (max-width: 480px) {
  .retes__title p {
    text-align: left;
  }
}
