* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background: rgb(55, 65, 81);
  background: linear-gradient(
    180deg,
    rgba(55, 65, 81, 0.9472163865546218) 0%,
    rgba(17, 24, 39, 1) 75%,
    rgba(18, 25, 40, 1) 100%
  );
  color: #fff;
  font-family: "Roboto", sans-serif;
}

header a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  margin: 0;
}
main {
  margin-bottom: 13px;
}

footer .opacityText {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.headerInput {
  background-color: #1f2937;
  opacity: 0.6;
  font-size: 16px;
  line-height: 18.75px;
  border-radius: 30px;
  border: none;
  padding: 12px 49px;
  color: #fff;
}
.headerInput::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.opacityText {
  font-size: 14px;
  opacity: 0.6;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.headerInfo {
  padding: 77px;
  text-align: center;
}
.headerNav {
  display: flex;
  align-items: center;
  padding: 80px 0;
  gap: 0 77px;
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 0 11px;
}
.logo {
  padding: 8px 12px;
  background-color: #4b5563;
  max-width: 35px;
  max-height: 35px;
  border-radius: 3px;
  text-align: center;
}
.headerLinks {
  display: flex;
  gap: 0 45px;
}
.headerSearch {
  margin-left: auto;
  position: relative;
}
.magnifier {
  position: absolute;
  top: 14px;
  left: 18px;
  width: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainTitle {
  margin-bottom: 30px;
  max-width: 525px;
  text-align: center;
}

.frontend {
  display: flex;
  gap: 0 12px;
  margin-bottom: 14px;
}
.developer {
  display: flex;
  justify-content: center;
  gap: 0 16px;
  margin-bottom: 28px;
}
.imgText {
  margin-bottom: 69px;
}
#personName {
  opacity: 1;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
}

.colorTheory p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}
.colorTheory {
  margin-bottom: 40px;
}
.colorTheory,
.replyText {
  max-width: 708px;
}
.replyText {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.replyText p:first-child {
  margin: 0 0 40px 0;
}
